<!-- Generated template for the AskComponent component -->
<div>
  <h3>Type and click Submit.</h3>
  <p>Your question will be published once Admin approves it.</p>
  <ion-textarea  class="question-desc" max="300" mini="10" row="5"
                 placeholder="Enter your question here..."
                 [(ngModel)]="questionText" ></ion-textarea>

  <button ion-button full color="secondary" (click)="submit()">
    Submit
    <ion-spinner *ngIf="registering" name="dots"></ion-spinner>
  </button>
</div>
