<!-- Generated template for the AskComponent component -->
<div>
  <h3>Type and click Submit.</h3>
  <p>Your question will be published once Admin approves it.</p>

  <form (submit)="submit()">

    <textarea class="text-box" maxlength="300"
              name="questionText"
              placeholder="Enter your question here..."
              [(ngModel)]="questionText"></textarea>

    <button ion-button full color="secondary"
            [disabled]="!questionText || submitting">
      Submit
      <ion-spinner *ngIf="submitting" name="dots"></ion-spinner>
    </button>

  </form>
</div>
