
<!-- loading screen -->
<!--<h4 *ngIf="fetching">Fetching list...</h4>-->

<!-- when failed in connecting -->
<h5 *ngIf="!questions.length && !fetching && fetchingErr">{{fetchingErr}}</h5>

<!-- when no question pending for approval -->
<h5 *ngIf="!questions.length && !fetching && !fetchingErr" text-center>No pending requests</h5>

<div *ngIf="questions.length">
  <h5 text-center>Total Requests: <span>{{questions.length}}</span></h5>
  <ion-card class="question-card" *ngFor="let question of questions; let i = index;">

    <!-- TODO - should be a separate component -->
    <!-- text box starts - question / comment -->
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <div>{{question.askedByName}}</div>
        </button>
      </ion-col>
      <ion-col center text-right>
        <ion-note class="timestamp">  <!--TODO use moment-->
          {{formatDate(question.askedOn)}}
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <p>{{question.text}}</p>
    </ion-card-content>
    <!-- text box ends - question / comment -->

    <!-- controls -->
    <ion-row>
      <ion-col text-left>
        <button ion-button outline icon-left small color="secondary" (click)="approvePendingQuestion(question.questionId)">
          <ion-icon name="checkmark"></ion-icon>
          Approve
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button outline icon-left small color="danger" (click)="removePendingQuestion(question.questionId)">
          <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</div>



