<ion-header>
  <ion-navbar>
    <ion-title>Welcome</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-row>

    <!-- user identity section -->
    <ion-col col-12>

      <!-- while busy checking device-id account-->
      <h4 text-center="" *ngIf="fetching">
        <span>Please wait a sec </span> <ion-spinner name="dots"></ion-spinner>
      </h4>

      <!-- user found already-->
      <h4 class="welcome-section" *ngIf="!fetching && userName"><strong>{{userName}}</strong> !</h4>

      <!-- if new user - register first -->
      <div *ngIf="!fetching && !userName" class="register-section">

        <form (submit)="registerUser($event)">

          <ion-row>
            <ion-col col-12>Register yourself:</ion-col>
            <ion-col col-12>

              <ion-input class="input-border" max="12" min="3"
                         name="newUserName"
                         placeholder="Please enter your name..."
                         [attr.disabled]="registering" [(ngModel)]="newUserName">
              </ion-input>

            </ion-col>
            <ion-col col-12>

              <button ion-button full color="secondary">
                Register
                <ion-spinner *ngIf="registering" name="dots"></ion-spinner>
              </button>

            </ion-col>

          </ion-row>

        </form>
      </div>
    </ion-col>

    <!-- channel joining section -->
    <ion-col col-12 *ngIf="!fetching && userName" class="channel-section">

      <form (submit)="joinChannel($event)">

        <ion-row>
          <ion-col col-12>Join Channel:</ion-col>
          <ion-col col-6>

            <ion-input name="channelCode" class="input-border"
                       type="number" maxlength="4"
                       placeholder="Code (4 Digits)"
                       [attr.disabled]="joining" [(ngModel)]="channelData.channelCode">
            </ion-input>

          </ion-col>
          <ion-col col-6>

            <ion-select name="accessType" class="input-border"
                        [(ngModel)]="channelData.accessType" [selectOptions]="{title: 'Access Type:'}">
              <ion-option value="user">As User</ion-option>
              <ion-option value="admin">As Admin</ion-option>
            </ion-select>

          </ion-col>
          <ion-col col-12 *ngIf="channelData.accessType === 'admin'">

            <ion-input name="adminPIN" class="input-border"
                       type="text" maxlength="6"
                       placeholder="Admin PIN"
                       [attr.disabled]="joining" [(ngModel)]="channelData.adminPIN">
            </ion-input>

          </ion-col>
          <ion-col col-12>

            <button ion-button full color="primary">
              Join
              <ion-spinner *ngIf="joining" name="dots"></ion-spinner>
            </button>

          </ion-col>
        </ion-row>
      </form>

    </ion-col>

    <!-- app banner - app logo and description -->
    <ion-col class="app-banner" col-12>
      <img src="assets/imgs/logo.png" width="100px" text-center alt="Logo">

      <h4>Sawal</h4>
      <p>Brought to you by Uqaab - A non-profit organisation.</p>
    </ion-col>

  </ion-row>

</ion-content>

