page-home {
  ion-select{
    max-width: initial;
  }
  .welcome-section{
    margin-bottom: 15px;
    text-align: center;
  }
  ion-spinner {
    vertical-align: middle;
  }
  .channel-section, .register-section{
    ion-list{
      margin-bottom: 10px;
    }
    ion-item{
      border-top: none !important;
    }
  }
  .app-banner{
    position: absolute;
    left: 0;
    top: 220px;
    text-align: center;
  }
}
