<ion-header>
  <ion-navbar>
    <ion-title>Sawal</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col col-12 text-center>
      <img src="../../assets/imgs/logo.png"  width="100px" text-center alt="Logo">
    </ion-col>

    <!-- user identity section -->
    <ion-col col-12>

      <!-- while busy checking device-id account-->
      <h4 text-center="" *ngIf="fetching">Please wait a sec...</h4>

      <!-- user found already-->
      <h4 class="welcome-section" *ngIf="!fetching && userName">Welcome, <strong>{{userName}}</strong> !</h4>

      <!-- if new user - register first -->
      <div *ngIf="!fetching && !userName" class="register-section">
        <h4>Please enter name to proceed</h4>
        <ion-list>
          <ion-item>
            <ion-input class="" max="12" min="3"  placeholder="Hello" [(ngModel)]="newUserName"></ion-input>
          </ion-item>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </ion-list>
        <button ion-button full color="secondary" (click)="registerUser()">Register</button>
      </div>

    </ion-col>

    <!-- channel joining section -->
    <ion-col col-12 *ngIf="!fetching && userName" class="channel-section">
      <ion-list>
        <ion-item>
          <ion-input class="" max="4" min="4"  placeholder="Enter Channel Code (4 Digits)" [(ngModel)]="channelCode"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button full color="primary" (click)="joinChannel()">Join</button>
    </ion-col>

  </ion-row>

</ion-content>

