page-home {
  .welcome-section{
    margin-bottom: 15px;
    text-align: center;
  }
  ion-spinner {
    vertical-align: middle;
  }
  .channel-section, .register-section{
    ion-list{
      margin-bottom: 10px;
    }
    ion-item{
      border-top: none !important;
    }
  }
}
