queries {
  .comment-card{
    ion-card-content{
      padding-bottom: 7px;
    }
    .timestamp {
      display: inline-block;
      margin-top: 10px;
      padding-right: 5px;
    }
  }
  .vote-button{
    margin-right: 0;
    padding-right: 0;
  }
  .vote-count{
    margin-right: 0;
    padding: 0;
  }
}
