<!-- loading screen -->
<!--<h4 *ngIf="fetching">Fetching list...</h4>-->

<!-- when failed in connecting -->
<h5 *ngIf="!questions.length && !fetching && fetchingErr">{{fetchingErr}}</h5>

<!-- when no question pending for approval -->
<h5 *ngIf="!questions.length && !fetching && !fetchingErr" text-center>No questions yet !</h5>

<div *ngIf="questions.length">
  <h5 text-center>Total Questions: <span>{{questions.length}}</span></h5>
  <ion-card class="question-card" *ngFor="let question of questions;">

    <!-- TODO - should be a separate component -->
    <!-- text box starts - question / comment -->
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
        <div>{{question.askedByName}}</div> <!--TODO async load the full name-->
        </button>
      </ion-col>
      <ion-col center text-right>
        <ion-note class="timestamp">
          {{formatDate(question.askedOn)}}
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <p>{{question.text}}</p>
    </ion-card-content>
    <!-- text box ends - question / comment -->

    <!-- controls -->
    <ion-row>
      <ion-col col-5>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <div><span>{{question.votes.length}}</span> Votes</div>
        </button>
      </ion-col>
      <ion-col col-5>
        <button ion-button icon-left clear small (click)="expandedComments[question.questionId] = !expandedComments[question.questionId]" >
          <ion-icon [hidden]="!question.comments.length" [name]="!expandedComments[question.questionId] ? 'arrow-down' : 'arrow-up'"></ion-icon>
          <div><span>{{question.comments.length}}</span> Answers</div>
        </button>
      </ion-col>
      <ion-col col-2>
        <button clear color="danger" class="button button-ios button-clear button-clear-ios-danger delete-btn" (click)="removeQuestion(question.questionId)">
          <span class="button-inner">
           <ion-icon is-active="true" name="trash" role="img" class="icon icon-ios ion-ios-trash" aria-label="trash"></ion-icon>
          </span>
        </button>
      </ion-col>
    </ion-row>

    <div [hidden]="!expandedComments[question.questionId]" class="answers-section">

      <ion-card *ngFor="let comment of question.comments;">

        <!-- TODO - should be a separate component -->
        <!-- text box starts - question / comment -->
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <div>{{comment.commentedByName}}</div>
            </button>
          </ion-col>
          <ion-col center text-right>
            <ion-note class="timestamp">  <!--TODO use moment-->
              {{formatDate(comment.commentedOn)}}
            </ion-note>
          </ion-col>
        </ion-row>

        <ion-card-content>
          <p>{{comment.text}}</p>
        </ion-card-content>
        <!-- text box ends - question / comment -->

        <!-- controls -->
        <ion-row>
          <ion-col text-right>
            <button ion-button outline small color="danger" (click)="removeComment(question.questionId, comment.commentId)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

    </div>

    <!-- for Admin only -->
    <ion-card [hidden]="!isAdmin || question.showCommentBox">
      <button ion-button full color="secondary" (click)="question.showCommentBox = true;">Answer</button>
    </ion-card>

    <!-- for Admin only -->
    <!-- TODO refactor to a separate component -->
    <ion-card *ngIf="question.showCommentBox">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
          <textarea class="text-box" maxlength="5000"
                    placeholder="Enter your answer here..."
                    [(ngModel)]="question.newCommentText" ></textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button ion-button block="true" color="danger"
                    (click)="question.showCommentBox = false;">
              Cancel
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block="true" color="secondary"
                    [disabled]="!question.newCommentText || question.commenting"
                    (click)="submitComment(question)">
              Submit
              <ion-spinner *ngIf="question.commenting" name="dots"></ion-spinner>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </ion-card>
</div>

