queries {
  .answers-section {
    ion-col {
      padding: 0;
    }
  }
  .vote-button{
    margin-right: 0;
    padding-right: 0;
  }
  .vote-count{
    padding-left: 0;
    margin-left: 2px;
  }
}
